<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Readingo</title>
    <link rel="stylesheet" href="/static/css/ele-ui/index.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
</head>
<body style="background-color: #d9ecff">
<!--Good day! Have a nice time~-->
<div id="readingo-tpl" style="min-width: 600px">
</div>
<script src="/static/js/vue.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/ele-ui/index.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>
